<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>


<body>

    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="../static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>
  
    {% for user in users %}
    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <!-- Below the link tag brings the viewer to go scroll to the selected user's portfolio -->
            <a href= #{{ user.name }}>
                <img src={{ user.pic }}>
            </a>
        </div>
        <h1>{{ user.name }}</h1>
    </div>
    <a href="/timeline"><h2>Tmeline:</h2></a>
    {% endfor %}

    <!-- Now we will have separate portfolios for each person -->

    {% for user in users %}
    <div class="cont">
        <h1 id={{ user.name }}>{{ user.name }}</h1>
        <div class="about">
            <h2>About</h2>
            {{ user.about }}
        </div>
        <div class="education">
            <div id="tit1">
            <h2>Education</h2>
        </div>
            <h3 class="education--school">{{ user.education.school }}</h3>
            <h3 class="education--major">{{ user.education.major }}</h3>
            <p class="education--grad">{{ user.education.grad }}</p>
        </div>
        <div class="work">
            <h2>Work Experiences</h2>
            {% for item in user.work %}
            <div class="work--item">
                <h3 class="work--title">{{ item.title }}</h3>
                <h3 class="work--company">{{ item.company }}</h3>
                <ul>
                    {% for bullet in item.description %}
                        <li class="work--description">{{ bullet }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            {% endfor %}
        <div class="places">
            <h2>Places</h2>
            {{ user.name }}
            <iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/starryari/cl436h81a000f14o5bqg7z75a.html?title=false&access_token=pk.eyJ1Ijoic3RhcnJ5YXJpIiwiYSI6ImNsNDM2Y2p1eDAza3gzZG13d2NqZHAwbmMifQ.4jAzBlBTuVGoGajU2Pqr3A&zoomwheel=false#1.18/27.5/27.1" title="Monochrome" style="border:none;"></iframe>
        </div>
       
        <br/>
    </div>
    {% endfor %}
        
      
</body>

</html>